<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <p>
      <a href="/accounts/logout/">Log Out</a>
    </p>
    <p>
        <form method="post" action="/todos">
          <input type="text" name="name" />
        </form>
    </p>

    <p>All Todos</p>
    <p>
    <a href="/todos">Current Todos</a>
    </p>
        <% todos.forEach(function(todo) { %>
              <h3>
                  <%= todo.name %> (<%= todo._id %>) 
                  Completed: <%= todo.completed %> 
                  Added: <%= todo.added %>
              </h3>
              <p>
                <% if (todo.completed == false) { %>
                    <form method="POST" action="/edit/<%= todo._id %>/?_method=PUT">
                        <button type="submit" name="completed" value="true">Completed</button>
                    </form>
                    <a href="/edit/<%= todo._id %>">Edit Todo</a>
                <% } %>
                    <form method="POST" action="/todos/<%= todo._id %>/?_method=DELETE">
                      <button type="submit">Delete Todo</button>
                    </form>
              </p>
        <% }); %>
  </body>
  </html>